<p-dialog
  [style]="{ 'max-width': '50.4vw' }"
  header="Viewing records for Patient ID: {{ ds.patient?.patient_id }}"
  [(visible)]="ds.visible"
  [modal]="true"
>
  <ng-container *ngIf="ds.records | async">
    <div class="treatment-block" *ngFor="let r of ds.records | async">
      <div class="treatment-header">Appointment: {{ r.appointment_id }}</div>
      <div><b>Type: </b>{{ r.type }}</div>
      <div><b>Tooth: </b>{{ r.tooth }}</div>
      <div><b>Medication: </b>{{ r.medication }}</div>
      <div><b>Symptoms: </b>{{ r.symptoms }}</div>
      <div><b>Comments: </b>{{ r.comments }}</div>
    </div>
  </ng-container>
  <ng-container *ngIf="(ds.records | async)?.length === 0">
    <div class="treatment-header">No Treatment Records</div>
  </ng-container>
</p-dialog>
