<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/logo-negative.png" class="logo" [routerLink]="['/home']" />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex-container">
      <p style="display: inline">Api Key:&nbsp;&nbsp;</p>
      <input type="text" pInputText [(ngModel)]="aks.apiKey" />
      <div style="width: 1rem"></div>
      <div class="testButtonContainer">
        <p-button
          class="testButton"
          *ngIf="!testingKey"
          label="Test"
          [style]="{ width: '100%', padding: '0.4rem 0.25rem;' }"
          (click)="testApiKey()"
          [pTooltip]="testTooltip"
          tooltipPosition="left"
          tooltipStyleClass="wideTooltip"
        >
        </p-button>
        <i
          *ngIf="testingKey"
          class="pi pi-spin pi-spinner"
          style="font-size: 1.8rem"
        ></i>
      </div>
    </div>
  </ng-template>
</p-menubar>
