.form {
  display: flex;
  flex-direction: row;
  max-width: 50vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 16px;
}

.form-control {
  margin-top: 1.4rem;
  width: 300px;
}

.error-container {
  min-height: 1.2rem;
  font-size: 0.7rem;
  padding-left: 12px;
}

input {
  width: 100%;
}
