<p-dialog
  header="Add Patient"
  [(visible)]="ds.visible"
  [modal]="true"
  (onHide)="onHide()"
>
  <ng-template pTemplate="content">
    <form [formGroup]="ds.form" class="form">
      <!-- House Number -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-house-number"
            type="text"
            pInputText
            formControlName="house_number"
          />
          <label for="add-patient-dialog-house-number">House Number</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("house_number") }}
        </div>
      </div>
      <!-- Street -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-street"
            type="text"
            pInputText
            formControlName="street"
          />
          <label for="add-patient-dialog-street">Street</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("street") }}
        </div>
      </div>
      <!-- City -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-city"
            type="text"
            pInputText
            formControlName="city"
          />
          <label for="add-patient-dialog-city">City</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("city") }}
        </div>
      </div>
      <!-- Province -->
      <div class="form-control">
        <p-dropdown
          [style]="{ width: '100%' }"
          placeholder="Province"
          [options]="provinces"
          formControlName="province"
          optionLabel="name"
          appendTo="body"
        ></p-dropdown>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("province") }}
        </div>
      </div>
      <!-- First Name -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-first_name"
            type="text"
            pInputText
            formControlName="first_name"
          />
          <label for="add-patient-dialog-first_name">First Name</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("first_name") }}
        </div>
      </div>
      <!-- Middle Name -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-middle_name"
            type="text"
            pInputText
            formControlName="middle_name"
          />
          <label for="add-patient-dialog-middle_name">Middle Name</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("middle_name") }}
        </div>
      </div>
      <!-- Last Name -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-last_name"
            type="text"
            pInputText
            formControlName="last_name"
          />
          <label for="add-patient-dialog-last_name">Last Name</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("last_name") }}
        </div>
      </div>
      <!-- Gender -->
      <div class="form-control">
        <p-dropdown
          [style]="{ width: '100%' }"
          placeholder="Gender"
          [options]="genders"
          formControlName="gender"
          optionLabel="name"
          appendTo="body"
        ></p-dropdown>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("gender") }}
        </div>
      </div>
      <!-- SSN -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-ssn"
            type="text"
            pInputText
            formControlName="ssn"
          />
          <label for="add-patient-dialog-ssn">SSN</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("ssn") }}
        </div>
      </div>
      <!-- email -->
      <div class="form-control">
        <span class="p-float-label">
          <input
            id="add-patient-dialog-email"
            type="text"
            pInputText
            formControlName="email"
          />
          <label for="add-patient-dialog-email">Email</label>
        </span>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("email") }}
        </div>
      </div>
      <!-- Date of birth -->
      <div class="form-control">
        <p-calendar
          formControlName="date_of_birth"
          dateFormat="dd-mm-yy"
          [maxDate]="now"
          view="month"
          appendTo="body"
        ></p-calendar>
        <div class="p-error error-container">
          {{ ds.getErrorMessage("date_of_birth") }}
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      class="p-button-danger"
      label="Cancel"
      (click)="ds.visible = false"
    ></button>
    <button
      pButton
      type="button"
      class="p-button-success"
      label="Submit"
      (click)="submit()"
    ></button>
  </ng-template>
</p-dialog>
