<div class="container">
  <div class="table-container">
    <p-table [value]="(appointments | async) || []" [rowHover]="true">
      <ng-template pTemplate="caption">
        <div class="table-header" style="display: flex">
          <span>Appointments For Dentist: </span>
          <span style="width: 2rem"></span>
          <p-dropdown
            id="add-patient-apt-dialog-dentist_id"
            [style]="{ width: '100%' }"
            placeholder="Pick Dentist"
            [options]="(dentists | async) || []"
            [(ngModel)]="dentist_id"
            optionLabel="dentist_name"
            optionValue="dentist_id"
            appendTo="body"
            (ngModelChange)="getAppointments($event)"
          ></p-dropdown>
          <div style="flex-grow: 1"></div>
          <span>Dentist ID: {{ dentist_id || "00" }}</span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of cols">
            {{ col.header }}
          </th>
          <th>Records</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-el>
        <tr>
          <td *ngFor="let col of cols">
            {{ el[col.field] }}
          </td>
          <td>
            <button
              (click)="seePatientRecords(el)"
              class="p-button-help"
              pButton
              type="button"
              icon="pi pi-book"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-show-records-dialog></app-show-records-dialog>
