<div class="container">
  <h1>Welcome to the Dental Clinic Management System</h1>
  <div class="p-block">
    <p>
      To begin, input a valid api-key at the top right. Click "Test" to validate
      via the backend server.
    </p>
    <p>
      If the backend server has been inactive for over an hour, it will be
      sleeping and will take some time to spin up.
    </p>
    <p>
      A valid api-key must be present in the input box to successfully perform
      http requests.
    </p>
    <p>
      Navigate to one of the four user interfaces using the navbar at the top of
      the screen.
    </p>
    <br />
  </div>
</div>

<div class="container">
  <h1>This is a prototype made by students of UOttawa</h1>
  <div class="p-block">
    <h2 style="margin-bottom: 0">Course:</h2>
    <p style="margin-top: 0">
      Databases I <br />
      CSI2132 B <br />
      Dr. Olubisi Runsewe
    </p>
    <h2 style="margin-bottom: 0">Group 24:</h2>
    <p style="margin-top: 0">
      Chris Hamilton: 300048928<br />
      Hadi Sukkar: 7241905<br />
      Sophia Liu: 8735808<br />
      Svetlana Esina: 300176419<br />
      Valentina Acuna Gutierrez: 300004258<br />
    </p>
    <br />
  </div>
</div>
